.App {
  text-align: center;
}

.logoContainer {
  border-radius: 10px;
  height: 27vh;
  padding: 0 5%;
  margin: 3% 32%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.alanLogo {
  overflow: hidden;
  height: auto;
  width: 100%;
  border-radius: 10px; /* This applies rounded edges */
}
